* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("greyblock50.png");
    background-repeat: repeat;
    overflow: hidden;
}

#coords {
    position: fixed;
    left: 20px;
    top: 20px;
    color: red;
}

button {
    position: fixed;
    left: 60px;
    top: 20px;
    color: red;
}

canvas {
    border: 1px solid red;
}