* {
    margin: 0px;
    padding: 0px;
    font-family:Arial;
    font-size:14pt;
}

body {
    background-color: #575F59;
    background-image: url("greyBlock50.png");
    background-repeat: repeat;
    overflow: hidden;
}

input[type=button] {
    padding: 2px 5px;
}

#canvas {
    visibility:hidden;
    border: 5px solid red;
}

#overlay {
    height: 100vh;
    height: 100vw;
    padding-top:50vh;
    text-align:center;
}