* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #575F59;
    background-image: url("greyBlock50.png");
    background-repeat: repeat;
    overflow: hidden;
}

button {
    position: fixed;
    left: 60px;
    top: 20px;
    color: red;
}

#canvas {
    visibility:hidden;
}

#overlay {
    width:inherit;
    height:inherit;
    position:center
}